// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use 'sass:math';
 
@mixin breakpoint($context) { 
    @media screen and (min-width: $context) { 
        @content;
    }
}
 
@mixin flex() {
    display: -webkit-flex;
    display: flex; 
} 

@mixin background-opacity($color, $opacity: 1) {
  background: rgba($color, $opacity);
}

@mixin calc($key, $value) {
    #{$key}: -webkit-calc(#{$value});
    #{$key}: -moz-calc(#{$value});
    #{$key}: calc(#{$value});
}

@mixin cols($val) {
  @include calc("width", "100% - 3rem");
  flex: 0 0 auto;
  flex-direction: row;
  padding: 0 1.5rem;  
 
  @include breakpoint($tablet){    
    @include calc("width", math.div(100, 12) * $val + "% - 3rem");
  };
  
} 
